.section {
   background-color: #fff;
}

.sectionAddTask {
   margin: 0 4%;
   margin-bottom: 1%;
   
}

.section__titleNewTask {
   padding: 0 2%;
}

.sectionTasks {
   top: -15px;
   margin: 0 4%;
   margin-top: 1%;
}   

.section__titleNewTask {
   /* line-height: 0.05; */
   flex-grow: 1;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.js-button--toggleHideDoneTasks {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   color: teal;
   border: none;
}

.js-button--toggleHideDoneTasks:hover {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   color: rgb(108, 211, 211);
   border: none;
}

.divButtons {
   display: flex;
   flex-direction: row;
   flex-grow: 0.05;
}

.button__disabledMarkTasksDone {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   border: none;
}

.div__titleTasksList {
   display: flex;
   flex-direction: row;
   padding: 0%;
}

@media (max-width: 500px) {
   .div__titleTasksList {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}