
html {
   box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}


body {
   background-color: #eee;
   font-family: "Lato", sans-serif;
   max-width: 768px;
   margin: 0 auto;
   word-break: break-all;
   
}

.main {
   display: flex;
   flex-direction: column;
   position: relative;
}