.div__headerAndButtons {
   display: flex;
   flex-direction: row;
   flex-grow: 0.2;
}

.div__button {
   margin-right: 2%;
   background: transparent;
   border: none;
}

.div__button:hover {
   margin-right: 2%;
   direction: none;
   background: transparent;
   color: rgb(108, 211, 211);
   border: none;
   transition: 0.3s linear;
   transform: scale(1.1);
}

.js-div__button--toggleHideDoneTasks {
   color: teal;
   transition: 0.3s linear;
   transform: scale(1);
}

.div__button--markTasksAllDone {
   margin-right: 2%;
   direction: none;
   background: transparent;
   color: teal;
   border: none;
   transition: 0.3s linear;
   transform: scale(1);

}

.div__button--markTasksAllDone:hover {
   margin-right: 2%;
   direction: none;
   background-color: none;
   color: rgb(108, 211, 211);
   border: none;
   transition: 0.3s linear;
   transform: scale(1.1);
}

.div__button--markTasksAllDone:disabled {
   margin-right: 2%;
   direction: none;
   background: transparent;
   color: rgb(111, 111, 111);
   border: none;
   transition: 0.3s linear;
   transform: scale(1);

}

.div__button--markTasksAllDone:disabled:hover {
   margin-right: 2%;
   direction: none;
   background-color: none;
   color: rgb(158, 158, 158);
   border: none;
   transition: 0.3s linear;
   transform: scale(1.1);
}

@media (max-height: 500px) {

   .js-div__button--toggleHideDoneTasks {
      margin: 1%;
      transition: 0.3s linear;
      transform: scale(1);
   }

   .div__button--markTasksAllDone {
      display: flex;
      align-self: center;
      direction: none;
      background: transparent;
      color: teal;
      margin: 1%;
      border: none;
      transition: 0.3s linear;
      transform: scale(1);
   }
}